<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="600">

    <Properties>
        <!-- 配置日志文件输出目录 -->
        <Property name="LOG_HOME">logs</Property>
    </Properties>

    <Appenders>

        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%class{36}] [%L] [%M]: %msg%xEx%n"/>
        </Console>

        <!-- 设置日志格式并配置日志压缩格式(service.log.gz) -->
        <RollingRandomAccessFile name="service_appender" immediateFlush="false"
                                 fileName="${LOG_HOME}/service.log"
                                 filePattern="${LOG_HOME}/%d{yyyy-MM-dd}.service.log.gz">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%class{36}] [%L] [%M]: %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
        <logger name="service_log" level="info" includeLocation="true" additivity="true">
            <appender-ref ref="service_appender"/>
        </logger>
    </Loggers>

</Configuration>